
li{
    list-style: none;
  }
  .list{
    margin: 10px 0;
    width: 240px;
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    button{
      margin-left: 16px;
      cursor: pointer;
    }
  }